@font-face {
  font-family: abcd;
  src: url(./NeueHaasDisplayMediu.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: abcd;
}
html,
body {
  height: 100%;
  width: 100%;
}
.page1 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  position: relative;
  padding: 0 2vw;
}
nav {
  padding: 2vw 0vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-part2 {
  display: flex;
  align-items: center;
  gap: 1vw;
}
.nav-part2 h4 {
  padding: 10px 20px;
  border: 1px solid #0000006c;
  border-radius: 50px;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  position: relative;
  transition: all ease 0.3s;
  overflow: hidden;
}
.nav-part2 h4::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000000;
  left: 0;
  bottom: -100%;
  border-radius: 50px;
  transition: all ease 0.4s;
}
.nav-part2 h4:hover::after {
  bottom: 0;
  border-radius: 0;
}
.nav-part2 h4 a {
  text-decoration: none;
  color: #000000bb;
  z-index: 9;
  position: relative;
}
.nav-part2 h4:hover a {
  color: #fff;
}
.center {
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid #0000003c;
  padding-bottom: 3vw;
}
.left h3 {
  width: 25vw;
  font-size: 1.8vw;
  line-height: 2vw;
}
.right h1 {
  font-size: 10vw;
  line-height: 8vw;
  text-align: right;
}
.page1 video {
  position: relative;
  width: 100%;
  border-radius: 30px;
  margin-top: 3vw;
}
.hero-design {
  height: 20vw;
  width: 50vw;
  background-color: #e12c0a;
  position: absolute;
  right: 0;
  /* top: 80%; */
  filter: blur(20px);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.hero-design .hero1,
.hero-design .hero2 {
  height: 25vw;
  width: 25vw;
  background-color: #fe330a;
  position: absolute;
  right: 0;
  border-radius: 50%;
  filter: blur(30px);
  animation: anima 3s linear infinite alternate;
}
.hero-design .hero22 {
  right: 35%;
  animation: anima 6s linear infinite alternate-reverse;
}
@keyframes anima {
  from {
    transform: translate(0%, -20%);
  }
  to {
    transform: translate(-20%, 0);
  }
}
.page2 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  padding: 8vw 0;
}
.moving-text {
  white-space: nowrap;
  overflow-x: auto;
}
.moving-text::-webkit-scrollbar {
  display: none;
}
.con {
  white-space: nowrap;
  display: inline-block;
  animation: movetext 12s linear infinite;
}
@keyframes movetext {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.moving-text h1 {
  font-size: 9vw;
  display: inline-block;
}
.dot {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #fe330a;
  display: inline-block;
  margin: 1vw 2vw;
}
