@font-face {
  font-family: abcd;
  src: url(./public/font/NeueHaasDisplayMediu.ttf);
}
@font-face {
  font-family: abcd;
  font-weight: 100;
  src: url(./public/font//NeueHaasDisplayLight.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: abcd;
}
html,
body {
  height: 100%;
  width: 100%;
}
.main {
  z-index: 20;
  position: relative;
  padding-bottom: 130vh;
}
.page1 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  position: relative;
  padding: 0 2vw;
}
nav {
  padding: 2vw 0vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 100;
}
.nav-part2 {
  display: flex;
  align-items: center;
  gap: 1vw;
}
.nav-part2 h4 {
  padding: 10px 20px;
  border: 1px solid #0000006c;
  border-radius: 50px;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  position: relative;
  transition: all ease 0.3s;
  overflow: hidden;
}
.nav-part2 h4::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000000;
  left: 0;
  bottom: -100%;
  border-radius: 50px;
  transition: all ease 0.4s;
}
.nav-part2 h4:hover::after {
  bottom: 0;
  border-radius: 0;
}
.nav-part2 h4 a {
  text-decoration: none;
  color: #000000bb;
  z-index: 9;
  position: relative;
}
.nav-part2 h4:hover a {
  color: #fff;
}
nav h3 {
  display: none;
}
.center {
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid #0000003c;
  padding-bottom: 3vw;
}
.left h3 {
  width: 25vw;
  font-size: 1.8vw;
  line-height: 2vw;
}
.right h1 {
  font-size: 10vw;
  line-height: 8vw;
  text-align: right;
}
.page1 video {
  position: relative;
  width: 100%;
  border-radius: 30px;
  margin-top: 3vw;
}
.hero-design {
  height: 20vw;
  width: 50vw;
  background-color: #e12c0a;
  position: absolute;
  right: 0;
  filter: blur(20px);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.hero-design .hero1,
.hero-design .hero2 {
  height: 25vw;
  width: 25vw;
  background-color: #fe330a;
  position: absolute;
  right: 0;
  border-radius: 50%;
  filter: blur(30px);
  animation: anima 2s linear infinite alternate;
}
.hero-design .hero22 {
  right: 35%;
  animation: anima 5s linear infinite alternate-reverse;
}
@keyframes anima {
  from {
    transform: translate(0%, -30%) skew(0);
  }
  to {
    transform: translate(-20%, 0) skew(-20deg);
  }
}
.page2 {
  /* min-height: 100vh; */
  width: 100%;
  background-color: #efeae3;
  position: relative;
}
.moving-text {
  padding: 6vw;
  white-space: nowrap;
  overflow-x: auto;
}
.moving-text::-webkit-scrollbar {
  display: none;
}
.con {
  white-space: nowrap;
  display: inline-block;
  animation: movetext 12s linear infinite;
}
@keyframes movetext {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.moving-text h1 {
  font-size: 9vw;
  display: inline-block;
}
.dot {
  height: 4vw;
  width: 4vw;
  border-radius: 50%;
  background-color: #fe330a;
  display: inline-block;
  margin: 1vw 2vw;
}
.page2-bottom {
  /* height: 80vh; */
  width: 100%;
  padding: 0 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9;
  position: relative;
}
.page2-bottom h1 {
  font-size: 4vw;
  font-weight: bold;
  width: 60%;
  line-height: 5vw;
}
.bottom-part2 {
  width: 20%;
  margin-top: 15vw;
}
.bottom-part2 img {
  width: 100%;
  border-radius: 15px;
}
.bottom-part2 p {
  margin-top: 2vw;
  font-weight: 100;
}
.page2 .gooey {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  background: linear-gradient(to top right, #fe320a, #fe5b0a);
  position: absolute;
  top: 55%;
  left: 25%;
  filter: blur(30px);
  animation: anima 6s ease-in-out infinite alternate-reverse;
}
.page3 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  /* padding: 3vw 0; */
  /* margin-bottom: 15vw; */
}
.elem {
  height: 7vw;
  width: 100%;
  border-bottom: 1.5px solid rgba(132, 132, 132, 0.345);
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 2vw;
  overflow: hidden;
}

.elem h2 {
  font-size: 3vw;
  position: relative;
  z-index: 9;
}
.elem .overlay {
  height: 100%;
  width: 100%;
  background-color: orange;
  transition: all ease 0.2s;
  position: absolute;
  left: 0;
  top: -100%;
}
.elem:hover .overlay {
  top: 0;
}
.all-project {
  margin: 5rem 2rem;
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #0000006c;
  border-radius: 50px;
  font-size: 12px;
  position: relative;
  overflow: hidden;
}
.all-project::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  left: 0;
  bottom: -100%;
  border-radius: 50px;
  transition: all ease 0.4s;
}
.all-project:hover::after {
  bottom: 0;
  border-radius: 0;
}
.all-project a {
  text-decoration: none;
  color: #000000bb;
  z-index: 9;
  position: relative;
}
.all-project:hover a {
  color: #fff;
}

.fixed-img {
  height: 30vw;
  width: 24vw;
  border-radius: 10px;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 25%;
  display: none;
  background-size: cover;
  background-position: center;
  transition: all ease 0.5s;
}
.page4 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  padding: 3vw 2vw;
}
.page4 .container {
  background-color: #323232;
  height: 100vh;
  width: 100%;
  border-radius: 25px;
  display: flex;
}
.page4 .left {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page4 .left div {
  width: 60%;
}
.head h1 {
  border-left: 2px solid #5d5d5d;
  font-weight: 400;
  cursor: pointer;
  font-size: 4.5vw;
}
h1 {
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}
.executable {
  color: white;
  padding-left: 2rem;
}
.style {
  color: white;
  padding-left: 2rem;
  transition: all ease 0.3s;
}
.page4 .left div p {
  color: #fff;
  font-weight: 300;
  margin-top: 1vw;
}
.right-img {
  width: 55%;
  height: 100%;
  border-radius: 25px;
  background-image: url(https://sundown-ivory.vercel.app/page4-3.webp);
  background-size: cover;
  background-position: center;
  transition: all ease 0.3s;
}
.PAGE4 {
  min-height: 80vh;
  width: 100%;
  background-color: #efeae3;
  padding: 10vw 2vw;
  border-bottom: 2px solid #6e6e6eaa;
}
.swiper {
  width: 100%;
  height: 100%;
  cursor: grab;
}
.swiper-slide {
  width: 20%;
  border-left: 2px solid #6e6e6eaa;
  padding-left: 2vw;
}
.swiper-slide p {
  margin-top: 1.5vw;
  font-weight: 300;
  line-height: 1.5vw;
  font-size: 1vw;
}

.footer {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: #efeae3;
  z-index: 9;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 300;
}
.footer-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5vw 4vw;
  padding: 5vw;
  position: absolute;
  top: 0;
  color: rgb(0, 0, 0);
}
.task {
  font-size: 1.2vw;
}
.info {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.info p {
  font-size: 1.5vw;
}
.info input {
  border: hidden;
  border-bottom: 1px solid grey;
  background-color: transparent;
  font-size: 1.5vw;
  font-weight: 300;
  width: 100%;
  color: grey;
}
.sun {
  font-size: 23vw;
  color: #efeae3;
  position: absolute;
  bottom: 7.2vw;
  line-height: 20vw;
}
.bottem {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 4vw);
  padding: 2vw 2vw;
  font-size: 1.2vw;
  position: absolute;
  bottom: 0;
  border-top: 1px solid grey;
  color: rgb(0, 0, 0);
}
.circle {
  height: 20vw;
  width: 40vw;
  position: absolute;
  border-radius: 50%;
  filter: blur(100px);
  bottom: 0%;
  left: 0%;
  background-color: #ff2a00;
  z-index: -1;
  animation: circle 8s linear infinite;
}
@keyframes circle {
  0% {
    transform: translate(-100%, 00%);
  }
  100% {
    transform: translate(300%, 00%);
  }
}
.full-scr {
  height: 100%;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 99;
  position: fixed;
  top: -100%;
  transition: all ease 0.5s;
}
.full-div1 {
  width: 100%;
  background-color: #efeae3;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.full-div1 .tab {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-top: 20%;
  padding-right: 5vw;
}
.full-div1 h1 {
  font-size: 15vw;
  font-weight: 400;
}
@media (max-width: 600px) {
  nav {
    padding: 6vw 5vw;
  }
  nav img {
    height: 9vw;
    transition: all ease 0.5s;
  }
  .nav-part2 {
    display: none;
  }
  nav h3 {
    display: block;
    padding: 3vw 5vw;
    border: 1px solid #ababab;
    border-radius: 50px;
    font-size: 4vw;
    font-weight: 300;
    padding-left: 10vw;
  }
.page1 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  position: relative;
  padding: 0 2vw;
}
  .center {
    height: 55vh;
    flex-direction: column-reverse;
    padding: 5vw 5vw;
    padding-bottom: 12vw;
  }
  .left h3 {
    width: 100%;
    font-size: 6vw;
    line-height: 6vw;
    font-weight: 400;
  }
  .right h1 {
    font-size: 18vw;
    line-height: 16vw;
  }
  .page1 video {
    margin-left: 3%;
    border-radius: 15px;
    height: 70vh;
    object-fit: cover;
    object-position: center;
    width: 94%;
    margin-top: 12vw;
  }
  .hero-design {
    height: 50vw;
    width: 76vw;
  }
  .page2-bottom {
    flex-direction: column;
  }
  .page2-bottom h1 {
    font-size: 7vw;
    width: 95%;
    line-height: 7vw;
    font-weight: 400;
  }
  .bottom-part2 {
    width: 100%;
    margin: 0;
  }
  .bottom-part2 img {
    margin: 6vw 0;
  }
  .bottom-part2 p {
    margin-bottom: 6vw;
  }
  .page2 .gooey {
    width: 50vw;
    height: 50vw;
    top: 20%;
    left: 65%;
  }
}
